.welcomeCard {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}
.welcomeCard img {
    width: 250px;
}
.welcomeCard__button p {
    background: linear-gradient(#222831, #393e46);
    font-size: 1.7em;
    letter-spacing: .2em;
    padding: 20px;
    border-radius: 30px;
    transition: 400ms;
}
.welcomeCard__button {
    color: #fff;
    text-decoration: none;
}
.welcomeCard__button p:hover {
    box-shadow: 0px 0px 25px #32e0c4;
    color: #32e0c4;
}