.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.avatar {
  border-radius: 60px;
  width: 45%;
}
.redes {
  border-bottom: 2px solid #32e0c4;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}
.redes img {
  margin: 0 20px;
}
.redes img:hover {
  transform: scale(1.2);
}
h4 {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}